[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain-core = ">=0.3,<1.0"
langchain-community = ">=0.3,<1.0"
langchain-huggingface = ">=0.1,<1.0"
faiss-cpu = "*"
langchain-text-splitters = "*"
pypdf = "*"
sentence-transformers = "*"
accelerate = "*"
torch = "*"
requests = "*"
streamlit = "*"
langchain-groq = ">=0.2,<1.0"
langchain = ">=0.3,<1.0"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"
